/* Sass Document */
$color-red: red;
@mixin display () {
	margin-top: 10px;
	margin-left: 15px;
	display: flex;
	display: -webkit-flex;
}
@mixin table {
	hight: 250px;
	weight: 100%;
	margin: 20px;
	}

div.container {
	@include display;
}
.container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	height: 1000px;
	background-color: #FFFFFF;
}
